<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User {{user.id}}</title>
    <!-- Latest compiled jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ports/css/style.css' %}">
    <script src="{% static 'ports/js/app.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Adding main logo and company name -->
        <div class="main_header">
            <p class="head_logo">piCSell</p>
            <!-- add images and other cool things  -->
            <a href="/main">Home</a>
            <a href="/logout">Log Out</a>
        </div>
        <!-- error log -->
        <div class="error">
            {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li{%if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>  
            {% endif %}
        </div>
        <div class="edit_main">
            <h2>{{user.name}}</h2>
            <!-- add-form -->
            <h3>Edit Information</h3>
            <form action="/edit_admin/{{user.id}}/process" method='post'>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name" value="{{user.name}}"></td>
                    </tr>
                    <tr>
                        <td>Username: </td>
                        <td><input type="text" name="username" value="{{user.username}}"></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input type="text" name="email" value="{{user.email}}"></td>
                    </tr>
                    <tr>
                        <td>Position:</td>
                        <td>
                            <select required="required" name="position" >
                                <option value="1" {% if user.user_level == 1 %}selected="selected"{%endif%}>Photographer</option>
                                <option value="2" {% if user.user_level == 2 %}selected="selected"{%endif%}>Model</option>
                                <option value="3" {% if user.user_level == 3 %}selected="selected"{%endif%}>Client</option>
                                {% if user.user_level == 9 %}
                                <option value="9">Admin</option>
                                {%endif%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button type="submit">Update</button></td>
                    </tr>
                </table>
            </form>
            make 
        </div>
    </div>
</body>
</html>