<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <!-- Latest compiled jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ports/css/style.css' %}">
    <script src="{% static 'ports/js/app.js' %}"></script>
</head>
<body>
    <div class="container-fluid wrapper">
        <!-- Header -->
        <div class="main_header">
            <p class="head_logo">piCSell</p>
            <!-- add images and other cool things  -->
            <a href="/main">Home</a>
            <a href="/logout">Log Out</a>
        </div>
        <!-- main content -->
        <div class="main_content">
            <div class="main">
                {% if user.user_level == 9 %}
                    <h1>Welcome Admin: {{user.username}}</h1>
                    <a href="/edit_user"><button>Edit Profile</button></a>
                    <a href="/manage_users"><button>Manage Users</button></a>
                {% else %}
                <h1>Welcome {{user.username}}</h1>

                <!-- make it so that only the user of the portfolio can add more -->
                <form action="/add_photo/{{user.id}}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input type="submit" value="Upload">
                    <input type="file" name="portfolio_pic" id="form_port_pics" class="text-align-center">
                    <input type="text" name="title">
                </form>
                {% endif %}
            </div>
            <div class="portfolio_items">
                {% for photo in images %}
                    <div class="port_image">
                        <a href="/photo/{{photo.id}}"><img src="{{photo.image_thumb.url}}"></a>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>
</body>
</html>