<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>piCSell | Plan</title>
    <!-- Latest compiled jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ports/css/style.css' %}">
    <script src="{% static 'ports/js/app.js' %}"></script>
</head>
<body>
    <div class="container-fluid wrapper" id="tupac">
        <!-- Adding main logo and company name -->
        <div class="main_header">
            <p class="head_logo">piCSell</p>
            <!-- add images and other cool things  -->
            <a href="/main">Home</a>
            <a href="/logout">Log Out</a>
        </div>
        <!-- error log -->
        <div class="error">
            {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li{%if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>  
            {% endif %}
        </div>
        <div class="edit_main">
            <h2>{{user.name}}</h2>
            <!-- add-form -->
            <h3>Edit Profile</h3>
            <form action="/edit_user/process" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name" value="{{user.name}}"></td>
                    </tr>
                    <tr>
                        <td>Username: </td>
                        <td><input type="text" name="username" value="{{user.username}}"></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input type="email" name="email" value="{{user.email}}"></td>
                    </tr>                
                    <tr>
                        <td>Birthday: </td>
                        <td><input type="date" name="bday" value="{{user.birthday}}"></td>
                    </tr>
                    <tr>
                        <td>Zipcode: </td>
                        <td><input type="text" name="zipcode" value="{{user.zipcode}}"></td>
                    </tr>
                    <tr>
                        <td>City: </td>
                        <td><input type="text" name="city" value="{{user.city}}"></td>
                    </tr>
                    <tr>
                        <td>State: </td>
                        <td><input type="text" name="state" value="{{user.state}}"></td>
                    </tr>
                    {% if user.user_level < 9 %}
                    <tr>
                        <td>Position:</td>
                        <td>
                            <select required="required" name="position" >
                                <option value="1" {% if user.user_level == 1 %}selected="selected"{%endif%}>Photographer</option>
                                <option value="2" {% if user.user_level == 2 %}selected="selected"{%endif%}>Model</option>
                                <option value="3" {% if user.user_level == 3 %}selected="selected"{%endif%}>Client</option>
                            </select>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button type="submit">Update</button></td>
                    </tr>
                </table>
            </form>
            <h3>Edit Profile Picture</h3>
            <form action="/edit_profile_pic/process" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Profile Picture:</td>
                        <td>
                            <input type="file" name="prof_pic" id="form_prof_pics">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button type="submit">Update</button></td>
                    </tr>
                </table>
            </form>
            <h3>Edit password</h3>
            <form action="/edit_pw/process" method='post'>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Old Password:</td>
                        <td><input type="password" name="pw"></td>
                    </tr>
                    <tr>
                        <td>New password: </td>
                        <td><input type="password" name="new_pw"></td>
                        <td>*Password should be at least 8 characters</td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td><input type="password" name="new_pw_confirm"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button type="submit">Update</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>