<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>piCSell | Group</title>
    <!-- Latest compiled jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ports/css/style.css' %}">
    <script src="{% static 'ports/js/app.js' %}"></script>
</head>
<body>
    <div class="container-fluid wrapper" id="tupac">
        <!-- Adding main logo and company name -->
        <div class="main_header">
            <p class="head_logo">piCSell</p>
            <!-- add images and other cool things  -->
            <a href="/main">Home</a>
            <a href="/logout">Log Out</a>
        </div>
        <!-- error log -->
        <div class="error">
            {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li{%if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>  
            {% endif %}
        </div>
        <div class="edit_main">
            <h2>{{group.name}}</h2>
            <p>{{group.description}}</p>
            <p>Host: <a href="/users/{{ group.creator.id }}">{{group.creator.name}}</a></p>
            <p>Members</p>
            {% for member in group.members.all %}
                {% if member.id == group.creator.id %}
                {% else %}
                    <p><a href="/users/{{ member.id }}">{{member.name}}</a></p>
                {% endif %}
            {% endfor %}
            <!-- add-form -->
            {% if group.creator.id == request.session.id %}
            <h3>Edit Group</h3>
            <form action="/groups/{{group.id}}/new" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name" value="{{group.name}}"></td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td><input type="text" name="description"  value="{{group.description}}"></td>
                    </tr>                
                    <!-- <tr>
                        <td>Tags (please separate with commas): </td>
                        <td><input type="text" name="tag"></td>
                    </tr> -->
                    <tr>
                        <td></td>
                        <td><button type="submit">Update</button></td>
                    </tr>
                </table>
            </form>
        {% elif user not in group.members.all %}
            <a href="/groups/join/{{group.id}}"><button>Join Group</button></a>
        {% else %}
            <a href="/groups/leave/{{group.id}}"><button>Leave Group</button></a>
        {% endif %}
        </div>
    </div>
</body>
</html>