<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>piCSell | Plan</title>
    <!-- Latest compiled jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ports/css/style.css' %}">
    <script src="{% static 'ports/js/app.js' %}"></script>
</head>
<body>
    <div class="container-fluid wrapper" id="tupac">
        <!-- Adding main logo and company name -->
        <div class="main_header">
            <p class="head_logo">piCSell</p>
            <!-- add images and other cool things  -->
            <a href="/main">Home</a>
            <a href="/logout">Log Out</a>
        </div>
        <!-- error log -->
        <div class="error">
            {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li{%if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>  
            {% endif %}
        </div>
        <div class="edit_main">
            <h2>{{plan.name}}</h2>
            <p>{{ plan.description }}</p>
            <ul>
            {% for member in plan.members.all %}
                <li><a href="/users/{{ member.id }}">{{member.name}}</a></li>
            {% endfor %}
            </ul>
            <!-- edit-form -->
            {% if plan.host.id == request.session.id %}
            <h3>Edit Plan</h3>
            <form action="/plans/new" method='post'>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name" value="{{plan.name}}"></td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td><input type="text" name="description"  value="{{plan.description}}"></td>
                    </tr>                
                    <tr>
                        <td>Date: </td>
                        <td><input type="datetime-local" name="date"></td>
                    </tr>
                    <tr>
                        <td>Zipcode: </td>
                        <td><input type="text" name="zipcode"  value="ZipCode"></td>
                    </tr>
                    <tr>
                        <td>City: </td>
                        <td><input type="text" name="city" value="City"></td>
                    </tr>
                    <tr>
                        <td>State: </td>
                        <td><input type="text" name="state" value="state"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit">Edit</button></td>
                    </tr>
                </table>
            </form>
            <a href="/plans/{{plan.id}}/delete"><button>Delete Plan</button></a>
            {% endif %}
        </div>
    </div>
</body>
</html>